<section class="author flex-center">
  <h2>Add author</h2>
  <form action="/author/new" method="post">
    <label for="first_name">First Name</label>
    <input id="first_name" type="text" name="first_name">
    <label for="last_name">Last Name</label>
    <input id="last_name" type="text" name="last_name">

    <label for="bio">Bio</label>
    <textarea id="bio" type="text" name="bio"></textarea>
    <label for="portrait_url">Author Image URL</label>
    <input id="portrait_url" type="url" name="portrait_url" placeholder="Author Image URL">
    <input type="submit" value="Add author">
  </form>
</section>
