<section class="book">
  <p>Books</p>
  <ul class="book-list">
    {{#each book}}
      <li>
      <img src="{{cover_url}}" alt="" />
        <p>
          Title: {{title}}
        </p>
        <p>
          Description: {{description}}
        </p>
        <p>
          {{genre_id}}
        </p>
      </li>
    {{/each}}
  </ul>
  <a href="/book/new">Add Book</a>
</section>
