<!DOCTYPE html>
<html>
  <head>
    <title>Galvanize Reads</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <header>
      <img class="header_image" src="http://www.freeiconspng.com/uploads/book-icon--icon-search-engine-6.png" alt="" />
      <h1>Galvanize Reads</h1>
    </header>
    {{{body}}}
  </body>
</html>
