<!DOCTYPE html>
<html>
  <head>
    <title>Galvanize Reads</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
     <script src="https://use.fontawesome.com/645065a7a5.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <header>
      <img class="header_image" src="http://www.freeiconspng.com/uploads/book-icon--icon-search-engine-6.png" alt="" />
      <h1>Galvanize Reads</h1>
    </header>
    <main>
      <section>
        <article class="authors">
          <a href="/author"><img src="http://www.kenscottsmith.com/img/icon-home-author.png" alt="" /><h2>Authors</h2></a>
        </article>
      </section>
      <section>
        <article class="books">
          <a href="/book"><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/2248-200.png" alt="" /><h2>Books</h2></a>
        </article>
      </section>

      {{{body}}}
    </main>
  </body>
</html>
