header {
  background-color: $dark-grey;
  color: $primary-color;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.header_image {
  width: 2rem;
  height: 2rem;
  padding: 0 0.7rem ;
}
