main {
    display: flex;
    justify-content: flex-start;
    padding: 5rem;
}
.authors, .books {
  margin-top: 1rem;
  padding: 0 5rem;
  border: 1px $black solid;
}
img {
  height: 10vh;
  width: 10vw;
}
