<section class="book flex-center">
  <h2>Add Book</h2>
  <form action="/book/new" method="post">
    <label for="title">Title</label>
    <input id="title" type="text" name="title">
    <label for="genre_id">Genre</label>
    <select id="genre_id" name="genre_id">
      <option selected disabled>Pick Genre</option>
      {{#each genre}}
      <option value="{{this.id}}" name="genre_id">{{this.name}}</option>
      {{/each}}
    </select>
    <label for="description">Description</label>
    <textarea id="description" type="text" name="description"></textarea>
    <label for="cover_url">Book Cover Image URL</label>
    <input id="cover_url" type="url" name="cover_url" placeholder="Image URL">
    <input class="new" type="submit" value="Add Book">
  </form>
</section>
